
.heading{
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90vw;
    max-width: 600px;
   
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
 
}

th {
    background-color: #007bff;
}

tr {
    border-bottom: 1px solid #ddd;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.pagination {
    text-align: center;
}

.pagination button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}